slides.html
python-for-beginners/python-for-beginners.ipynb.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/python-slides.iml
.idea/vcs.xml
python-for-beginners/pictures
python-for-beginners/.ipynb_checkpoints
