.idea/inspectionProfiles/
.idea/modules.xml
.idea/python-slides.iml
.idea/vcs.xml
python-for-beginners/.ipynb_checkpoints/
python-for-beginners/file
*/scrapper-pictures/*
python-for-beginners/download.png
*.db
