.idea/inspectionProfiles/
.idea/modules.xml
.idea/python-slides.iml
.idea/vcs.xml
python-for-beginners/.ipynb_checkpoints/
python-for-beginners/file
*/scrapper-pictures/*
python-for-beginners/download.png
*.db

python-for-beginners/glitched-image.jpg
python-for-beginners/scraper-pictures

.vscode/settings.json
pytorch-practice/__pycache__/helpers.cpython-311.pyc
pytorch-practice/mnist_train.csv
pytorch-practice/celeba_aligned_small.h5py
pytorch-practice/img_align_celeba.zip